<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (c) 2017. Krishna Prasad Kuchur,
  ~
  ~ This project is meant only for the use and assessment by Professor Timothy Lindquist of Arizona State Univeristy, for the course SER 423.
  ~
  ~ @author Krishna Prasad Kuchur  kkuchur@asu.deu
  ~
  ~ @version January 2017
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="assign2kkuchur.kkuchur.msse.asu.edu.assignment2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:theme = "@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AlertActivity"
            android:theme = "@style/Theme.AppCompat.Dialog">

        </activity>
    </application>

</manifest>